.productList {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
}
