*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray-100: #f5f5f5;
  --gray-200: #dadada;
  --gray-500: #808080;
  --black: #000000;

  --primary-500: #4964c3;

  --clr-bg-light: var(--gray-100);
  --clr-bg: var(--gray-200);

  --clr-text-light: var(--gray-500);
  --clr-text-dark: var(--black);
}

body {
  margin: 0;
  background-color: var(--clr-bg-light);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.section {
  margin-top: 20px;
}
