.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--clr-text-light);
  &__icon {
    font-size: 17px;
    color: var(--clr-text-dark);
  }
  &__active {
    color: var(--clr-text-dark);
  }
}
